@CHARSET "UTF-8";

.bodywrap{
	display:block;
/* 	background-image: url("https://image-proxy.namuwikiusercontent.com/r/http%3A%2F%2Fi64.tinypic.com%2F2hnxrw4.jpg"); */
	overflow:hidden;
	position:absolute;
	left:0px;
	top:0px;
	font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.42857143;
    box-sizing: border-box;
	}


.infowrap{
 	background-color:rgba(255,255,255,0.5);
	padding-top:100px;
	
}

.info_mask{
	position:absolute;
	left:0px;
	top:0px;
	background-color:rgba(255,255,255,0.5);
	z-index:100;
}

.info_inner{
	position:relative;
	margin:0px auto;
	width: 687px;
	height: 100vh;
/* 	background-color: #faf2ef; */
	background-color:#e8eced;
	padding-left:40px;
	padding-right:40px;
	border-radius:20px;
	opacity: 1;
	z-index:200;
}
/* 내부항목//////////////////////////////////////////////////////////////////////////////// */

#favor_insert{
	float:right;
	cursor: pointer;
}
.heart_yes{
	
}
.heart_no{
	
}

.fh_top{
	width:100%;
	height:50px;
}

.festival_header{
	border-bottom: 1px solid #a4a4a4;
	color: #fa6545; 
	height:130px;
}

.festival_header .title{
	font-size: 24px;
	color: #fa6545;
	width:400px;
	height:30px;
	float:left;
}

.festival_header .content{
	font-size: 12px;
	width:400px;
	height:30px;
	float:left;
}


.festival_detail{
	height:auto;
	border-bottom: 1px solid #a4a4a4;
}

.festival_map{
	
}

.festival_pic{
	
}

.inner_gap{
	padding-top: 10px;
	padding-bottom: 10px;
}

.period span:nth-of-type(2){
	float:right;
}

.star{
	width:150px;
	height:30px;
	background-image: url("../images/starIcon_out.png");
	background-size: 30px, 30px;
	position: relative;
	top: 10px;
}

button[name="close"]{
	background-color:#fa6545;
	color:white;
	border:0;
	border-radius:6px;
	float:right;
	width:30px;
	height:30px;
}
/*   지도       */
.map_category_hide{
	display:none;
}

.map_category_show{
	display:block;
}

.view_count{
	float:left;
	width:120px;
}


/*   툴팁        */
#tooltip{
	position: absolute;
	z-index:9999;
	color:white;
	font-size:15px;
}

#tooltip .tipBody{
	background-color: black;
	padding: 8px;
}