*{
	margin: 0;
	padding: 0;
	border: 0;
}

#header{
	height:100px;
	position:relative;
	
}

#tabs-1 > div.bx-wrapper{
	height:400px;
}

#tabs-1 > div.bx-wrapper > div.bx-viewport{
	height:400px;
}

ul{
	list-style: none;
	
}


.logo li img:nth-of-type(1){
	width: 100px;
	height: 80px;
	float: left;
	
}



.logo .lo img{
	position: absolute;
	width: 200px;
	height: 100px;	
}


.logo #login{		
	float: right;
	position:absolute;
	right: 150px;	
	cursor: pointer;
}



.logo #login span{		
	display:block;
	position:absolute;
	top:30px;
	width: 50px;
}



.logo #login img{
	position:absolute;
	top:20px;
	width: 50px;
	height: 50px;	
}

.logo #join{
	float: right;
	position: absolute;
	right: 80px;
}

.logo #join img{
	position:absolute;
	top:20px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.logo #logout{
	float: right;
	position: absolute;
	right: 100px;
}


.logo #logout img{
    position: absolute;
    top: 50px;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    border: 1px solid #0066cc;
}



#gnb{
	height:40px;
	background-color: #666666;
}

#sign_form, #join_form{
	width: 250px;
	height: 310px;
	margin-left:80%;
	border:1px solid rgba(0,0,0,0.15);
	background-color:#fff;
	border-radius:5px;
	z-index:30;
	display: none;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

#login_info{
	width: 250px;
	height: 150px;
	margin-left:80%;
	border:1px solid rgba(0,0,0,0.15);
	background-color:#fff;
	border-radius:5px;
	z-index:30;
	display: none;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}


#join_form{
	height: 300px;
}


#del{
	position: relative;
	width: 10%;
	height: 10%;
	margin-left:90%;
}

#loginup_form{
	position:relative;
	width:80%;
	height:90%;
	margin-left:10%;
	margin-top: 10%;
}
#login_id{
	position:relative;
	width:100%;
	height:20%;
	border-radius: 5px;
	border: 1px solid #666666;
}

#login_id>span {
    display: block;
    width: 80%;
    height: 80%;
    margin-top:2px;
    font-size:14px;
    margin-left: 20px;
    text-align: center;
    
}

#loginup_form span.hr{
	position: relative;
	display:block;
	width:100%;
	height: 10%;
	border-bottom: 1px solid #666666;
}

#login_mypage{	
	position:relative;
	width:100%;
	height:20%;
	top:10px;	
	text-align: center;
}
#login_logout{	
	position:relative;
	width:100%;
	height:20%;	
	text-align: center;
	top:5px;
}


#signup_form{
	position:relative;
	width:80%;
	height:90%;
	margin-left:10%;
	margin-top: -10%;
}

#joinup_form{
	position:relative;
	width:80%;
	height:90%;
	margin-left:10%;
	margin-top:-10%;
}

#email{
	position: relative;
	width: 90%;
	height: 10%;
	margin-left:5%;
	margin-top:14%;
	border-radius: 5px;
	border: 1px solid #666666;
	
}

#email> input{
	cursor:auto;
	width: 100%;
	height: 100%;	
	border-radius: 5px;
}

#pass{
	position: relative;
	width: 90%;
	height: 10%;
	margin-left:5%;
	margin-top:5px;
	border-radius: 5px;
	border: 1px solid #666666;
	
}

#pass> input{
	cursor:auto;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

#pass_en{
	position: relative;
	width: 90%;
	height: 10%;
	margin-left:5%;
	margin-top:5px;
	border-radius: 5px;
}

#pass_en> input{
	border:1px solid #666666;
	cursor:auto;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

button{
	background-color: transparent;
}


#checked{
	position: relative;
	top:10px;
	width:80%;
	margin-left:5%;
	text-align: center;
	color:#666666;
	
}
#login_btn{
	position: relative;
	width: 90%;
	height:10%;
	margin-left:5%;
	margin-top:15%;
	background-color: #0066cc;	
	color:#bfbfbf;
	border-radius: 5px;
	text-align: center;
	text-align: center;
	cursor: pointer;	
}

#pass_search{
	position: relative;
	width: 90%;
	height: 10%;
	margin-top:5%;
	margin-left:5%;
	text-align: center;
	border-bottom: 1px solid #666666;
}

#pass_search > a{
	text-decoration: none;
	color:#666666;
}

#facebook{
	position: relative;
	width: 40%;
	height: 30%;
	top:10px;
	
}

#facebook a{
	text-decoration: none;
	color:#666666;
	font-size: 13px;
	text-align: center;
}

#facebook a img{
	margin-top:10%;
	margin-left:30%;
	width: 30px;
}

#facebook a img p{
	text-align: center;
	font-size: 14px;
	color:#666666;
}

#naver{
	position: relative;
	width: 40%;
	height: 30%;
	top:-71px;
	left: 50%;
	
}

#naver a{
	text-decoration: none;
	color:#666666;
	font-size: 13px;
	text-align: center;
}

#naver a img{
	margin-top:10%;
	margin-left:30%;
	width: 30px;
}

#navera img p{
	text-align: center;
	font-size: 14px;
	color:#666666;
}

#join_btn{
	position: relative;
	width: 90%;
	height:10%;
	margin-left:5%;
	margin-top:15%;
	background-color: #0066cc;	
	color:#bfbfbf;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}	

/*========================================main꾸미기=================================================*/

#main .pic {
	height:500px;
	list-style: none;
	position: relative;
	display: block;
	z-index: 0;
}

#main .pic li {
	height:500px;
	list-style: none;
	position: relative;/* 
	display: block; */
	z-index: 0;
}

/* #main .pic li:nth-of-type(2) {
	 display: none;
} */

#main .touch_left_btn{
	
	position: absolute;
	left:200px;
	top:350px;
	z-index: 10;
	cursor:pointer;
}

#main .touch_right_btn{
	
	position:absolute;
	right:200px;
	top:350px;
	z-index: 10;
	cursor:pointer;
}

#main .touch_left_btn img{
	width:70px;
	height:100px;
}

#main .touch_right_btn img{
	width:70px;
	height:100px;
	
}

#top{
	position: relative;
	top:-450px;
	height: 50px;	
	/* margin : 0 auto; */
	margin-left: 50%;
	/* margin-left:830px; */
	z-index: 20;	
}

#top li{
	float: left;		
	list-style: none;
}

#top .slide li img{
	width: 30px;
	height: 30px;
}




.bx-controls-auto-item{
	display: none;
}



#search{
	position:relative;
	top:14px;
	padding-top:10px;
	background-color: #666666;
	height: 150px;
}

#search_m{
	position:absolute;
	width:1500px;
	/* position:relative; */
	margin-left:10%;
	/* margin-right:250px; */
	height: 150px;
}



#search_m ul{
	float: left;	
}

#search_m .city li{	
	 position:relative; 
	margin-left:200px;	
}

 #ui-datepicker-div{
	    width: 15%;
	    z-index:30;
} 

#datepicker,select{
    font: normal 14px '\5FAE\8F6F\96C5\9ED1';
    width: 200px;
    height: 34px;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 26px 0 10px;
    overflow: hidden;
    text-align: left;
    outline: none;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
	background-color: #666666;
	border: 1px solid #bfbfbf;
	color:#bfbfbf;
	text-align: center;
}

#search_m .alone{
	color: #bfbfbf;
	height: 25px;
}

#search_m ul li{	
	position:relative; 
	width: 100px;
	margin-right:200px;
	height:37.5px;
	color: #bfbfbf;
	
}
.search_icon{
	width: 100px;
	height: 50px;
}

.search_icon .tt a img{
	width: 100px;
	height: 100px;
}

#menu {
	margin: 0 auto;
}

#wrap #event{
	position: relative;
	width:100%;
	height:100px;
	/* top:-190px; */
}

#wrap #bx_slider{
	position: relative;
	width:70%;
	height:100px;
	margin-top:5px;
	margin-left:15%;
}


#wrap #bx_slider #prev a img{
	position: relative;
	top:45px;
	/* margin-top: 30px; */
	/* margin-left: 350px; */
}

#wrap #bx_slider #prev a{
	position: relative;
	margin-top: 45px;
	margin-left: 350px;
}


#wrap #bx_slider ul{
	position: relative;
	width:40%;
	height:120px;
	margin-top:-20px;
	/* margin-left: 30%; */
	}

#wrap #bx_slider ul li{
	float: left;
}

#wrap #bx_slider ul li a img{
	
	width:50px;
	height: 50px;
	margin-left: 30px;
	margin-top: 25px;
}

#wrap #bx_slider ul li h2{
	color:#666666;
	font-size: 15px;
	text-align: left;
	margin-top:-50px;
	margin-left: 100px;
	
}

h2 > p{
	color:#666666;
	font-weight: 200;
}


#wrap #bx_slider #next a img{
	position: relative;
	top:-70px;
	margin-left: 72%;
}


#wrap #travel {
    position: relative;
     top:82px;
    height: 500px;
    z-index: 25;
}

#travel #travel_f{
    position: absolute;
     top:-10%;
    width:100%;
    height:30%;
}


#travel #tabs {
    position: relative;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
}

#travel #tabs #tab ul li {
	float:left;
    position: relative;
    width: 5%;
    height: 5%;
    /* margin-top:15%; */
    margin-left:1%;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #e2e2e2;
    /*#0066cc : �븯�뒛�깋(�뙆�옉�깋)  */
    border-image: initial;
    cursor: pointer;
}



#travel #tabs #tab ul li a {
    color: #666666;
    text-decoration: none;
}

#tabs-1 {
    position: relative;
    display: block;
    top:0%;
    width: 1010px;
    height: 80%;
    margin-left: 5%;
    overflow: auto;
    border: 1px solid #e2e2e2;
}

#tabs-1 .arrowup{
	position: absolute;
	top: 10px;
    left: 3px;
    width: 24px;
    height: 24px;
    z-index: 999;
}

#tabs-1 .arrowdown{
	position: absolute;
	top: 368px;
    left: 3px;
    width: 24px;
    height: 24px;
    z-index: 999;
}


#menu1 > li {
	float:left;	
}

ul#menu1 {
	margin-top: 30px;
}

#menu1 > li > img{
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
	
}

#menu1 > li > span{
    display: block;
    font-size: 12px;
    font-weight: 200;
    color: #666666;
    text-align: center;
    margin-top:10px;
    font-family: 'Open Sans Condensed', sans-serif;
}

span.line{
	display: block;
    width: 200px;
    height: 1px;
    margin: 12px 0 6px 28px;
    background: #4b4b4b;
}

#travel #tabs #tab ul li:nth-of-type(1){
	margin-left: 10%;
}


#travel h2{	
	padding: 50px 0 35px 0;
    font-size: 25px;
    font-weight: 600;
    color: #666666;
    text-align: right;
    margin-right: 500px;
}

h2 > span{
	display: block;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
} 

#traval #traval_s {
	position: relative;
	height:400px;
	top:30px;
	width: 20%;
}

#traval_s > ul > li{
	text-align: center;
}



#traval #traval_t {
	position: relative;
	top:-370px;
	height:350px;
	width: 1400px;
	margin-left: 400px;
}

#traval_t ul li{
	float: left;	
	padding-right: 10px;
}


#wrap #recommend{
	position: relative;
	width:100%;
	height:300px;
	top:72px;
}

#recommend #recommend_f{
	position: relative;
	width:70%;
	height:300px;
	margin-left: 15%;
}

h3{
	color:#0066cc;
	margin-left: 12%;
}

h3 >span{
	color:#666666;
    font-size: 15px;
    font-weight: 200;
}

#review_s > ul > li:nth-child(7){
	position: relative;
    left: -550px;
    top: 42px;
	
}

#recommend #recommend_f #recommends{
	position: relative;
	width:80%;
	height:250px;
	margin-left: 11.5%;
	border : 1px solid #e2e2e2;
	/* border-color:#e2e2e2; */
}

#recommend #recommend_f #recommends li{	
	border : 1px solid #e2e2e2;
	/* border-color:#e2e2e2; */
}

#wrap #review{
	position: relative;
	width:100%;
	height: 300px;
	top:50px;
}

#review #review_f{
	position: relative;
	width:70%;
	height:100%;
	margin-left: 15%;
	
}
#recommend_f > h3{
   margin-left: 12%;
}

#review #review_f h2{
	color:#0066cc;
	font-size:20px;
	margin-left: 12%;
}

#review #review_s{
	position: relative;
	min-width:1000px;
	width:76%;
	height:90%;
	margin-left: 11.5%;
	border: 1px solid #e2e2e2;
}

#review #review_s .board{
	position: relative;
	width:750px;
	height:100%;
	margin-left: 120px;
	margin-top: 20px;;

}

#review_s > ul > li:nth-child(9){
	position: relative;
    margin-left: -97%;
    margin-top: 70px;
	
}

#review_s > ul > li:nth-child(10){
	position: relative;
    margin-left: -92%;
    margin-top: 43px;	
}


.board_s li{
	float:left;
}
li.user {
    width: 50px;
}

.board li{
	float:left;
}
.user>span, .content>span{
	display: block;
    width: 154px;
    margin-left: 10px;
    color: #e2e2e2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	
}

li.content {
    display: block;
       margin-top: -28px;
}

.content >span{
    display: block;
   margin-top: -57px;
   margin-left:10px;
   color: #e2e2e2;
}

.board li img{
	width:50px;
	height:50px;
}

.board_s li img{
	width:50px;
	height:50px;
}

.board .content img{
	width:200px;
	height:100px;
}

.board_s .content img{
	width:200px;
	height:100px;
}

 
#end{
	position: relative;
	height: 200px;
	top: 50px;
	
} 

 #end_f{
	background-image: url(http://www.tourbaksa.com/images/main/bg_mask.png);
	height: 50px;
}

 #end_f .foot{

    position:relative;
    width:60%;
    height:80%;
    margin-left:30%;
    margin-top:12px;
	float: left;
	text-align: center;
}

 #end_f .foot li{
 text-align:center;
 margin-right:20px;
 font-weight:300;
	float: left;		
}

 #end_f .foot li a{ 
 color: #bfbfbf;	
}

#end_s{
	position:relative;
	width:100%;
	height:100%;
}

#end_s .inner{
	position:relative;
	width:60%;
	height:70%;
	margin-top:10px;
	margin-left:20%;
}

#end_s .sns{
	position: relative;
	width: 40%;
	height: 30%;
	margin-top:-20px;
	margin-left:40%;
}

#end_s .sns ul li{
	float: left;
	margin-left: 10px;
}



 




















