@CHARSET "UTF-8";

body {
	font-family: 'Nanum Gothic', sans-serif;
	line-height: 1.42857143;
}

a{
	text-decoration: none;
	color: #11adea;
	font-weight: 700;
	text-align:center;
}

/* body >div{
	margin:auto;
} */
#bodywrap {
	margin: auto;
	box-sizing: content-box;
}

#bodywrap input {
	width: 258px;
	height: 28px;
	border-radius: 4px;
	border: 1px solid #d8d8d8;
	padding: 0 10px;
	float: right;
}

#nick>div {
	width: 400px;
}

#password>div {
	width: 400px;
}

/* container */
.nick_container {
	width: 400px;
	height: 120px;
	margin: 40px auto 0px;
}

.password_container {
	width: 400px;
	height: 160px;
	margin: 40px auto 0px;
}

.delete_container {
	width: 400px;
	height: 116px;
	margin: 40px auto 0px;
}

.menu_container_min{
	margin: 0px auto;
	width: 500px;
}

.menu_container_not_min{
	margin: 0px auto;
	padding-top: 20px;
}

/* container end */
.confirm_btn {
	margin-right:-350px;
	position: relative;
	background-color: #11adea;
	color: white;
	border-radius: 4px;
	border: 0px;
	width: 50px;
	height: 30px;
	float: right;
	bottom: 0px;
	right: 0px;
	cursor: pointer;
}

.header {
	width: 100px;
	height: 28px;
	font-size: 14px;
	color: #777;
	float: left;
	padding: 5px 0px 5px;
}

.inner_min {
	width:100%;
	height: calc(100% - 100px);
}

.inner_not_min {
	width: 100%;
	height: calc(100% - 100px);
}

.menu_min{
	width:calc(15% + 800px);
	height:30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.menu_not_min {
	width: 10%;
	height: 670px;
	padding-top:40px;
}

.title {
	font-size: 16px;
	font-weight: 700;
	color: #11adea;
	width: 400px;
	height: 28px;
}