<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
	<select id="festival" resultType="dto.FestivalDTO">
		select * from f_festival order by festival_num
	</select>
	
	<select id="member" resultType="dto.MemberDTO">
		select mem_num, mem_id, mem_nickname, mem_admin from f_member order by mem_num
	</select>
</mapper>