<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
	<select id="festival" resultType="dto.FestivalDTO">
		select * from f_festival order by festival_num
	</select>
	
	<!-- select *, replace(festival_content, chr(34), '&quot;') festival_content  from f_festival order by festival_num -->
	
	<select id="board" resultType="dto.BoardDTO">
		select * from f_board order by board_num
	</select>
	
	<select id="member" resultType="dto.MemberDTO">
		select mem_num, mem_id, mem_nickname, mem_admin from f_member order by mem_num
	</select>
	
	<!-- <update id="f_update" parameterType="dto.FestivalDTO">
		update f_festival set festival_num=#{festival_num}, 
		festival_name=#{festival_name}, 
		festival_pic=#{festival_pic}, festival_hpage=#{festival_hpage}, festival_theme=#{festival_theme}, 
		festival_time=#{festival_time}, festival_count=#{festival_count}, festival_content=#{festival_content}, 
		city_num=#{city_num} where festival_num=#{festival_num}
		
	</update>
	 -->
	 
	<update id="f_update" parameterType="dto.FestivalDTO">
		update f_festival set festival_name=#{festival_name}, festival_start=#{festival_start}, festival_end=#{festival_end}, 
		festival_hpage=#{festival_hpage}, festival_theme=#{festival_theme}, 
		festival_time=#{festival_time}, festival_count=#{festival_count}, festival_content=#{festival_content}, 
		city_num=#{city_num} where festival_num=#{festival_num}
	</update>
	
	 <update id="b_update" parameterType="dto.BoardDTO">
	 	update f_board set board_head=#{board_head}, board_date=#{board_date}, festival_num=#{festival_num}
	 	where board_num=#{board_num}
	 </update>
	
	 <update id="m_update" parameterType="dto.MemberDTO">
	    update f_member set mem_id=#{mem_id,jdbcType=VARCHAR}, mem_nickname=#{mem_nickname} where mem_num=#{mem_num}
	 </update>
	 
	
</mapper>