<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mypage">
  <select id="mem_list" parameterType="int" resultType="dto.MemberDTO">
    select * from f_member where mem_num=#{mem_num}
  </select>
  
  <select id="my_board_list" parameterType="int" resultType="dto.BoardDTO">
  	select * from f_board where mem_num=#{mem_num}
  </select>
  
  <select id="my_favor_list" parameterType="int" resultType="dto.FavorDTO">
    select f_favor_num, festival_num
    from f_favor
    where mem_num=#{mem_num}
    order by f_favor_num
  </select>
  
  <update id="nick_update" parameterType="dto.MemberDTO">
   update f_member set mem_nickname=#{mem_nickname}
   where mem_num=#{mem_num}
  </update>
  
  <update id="pass_update" parameterType="dto.MemberDTO">
  	update f_member set mem_pass=#{mem_pass}
  	where mem_num=#{mem_num}
  </update>
  
  <delete id="mem_del" parameterType="int">
  	delete from f_member where mem_num=#{mem_num}
  </delete>
  
  <select id="mem_f_list" resultType="dto.FestivalDTO">
  	select festival_num, festival_name
  	from f_festival
  	order by festival_num
  
  </select>
  
  <delete id="my_favor_del" parameterType="int">
  	delete from f_favor where f_favor_num=#{favor_num}
  
  </delete>

	

</mapper>